@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");

body {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
}

#banner {
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/images/banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.inner {
  text-align: center;
  padding: 10%;
}

h1 {
  line-height: 1.75em;
  text-align: center;
}

h1,
h2,
h3 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
#banner p {
  letter-spacing: 0.225em;
  text-transform: uppercase;
}

@media screen and (max-width: 736px) {
  #banner {
    padding: 7em 3em 5em 3em;
    height: auto;
    min-height: 0;
  }
}
